#h2{
    text-align: center;
}
#img{
    width: 300px;
    border-radius: 10px;
}
#table{
    margin: auto;
}
#body{
    background-color: goldenrod;
    color: navy;

}
h4{
    background-color: antiquewhite;
    margin-right: 50%;
}
#kep1{
    width: 300px;
}
#kep2{
    width: 300px;
    text-align: center;
}
#kep3{
    width: 300px;
    text-align: center;
}
#table1{
    margin-left: 25%;
    margin-right: 25%;
}